<!-- this configuration of called self hosdted player -->

<video
    id="demo"
    class="jh-video"
    controls 
    autoplay 
    bigPlayButton
    data-cld-colors='{ "base": "{% if base_color %} {{ base_color }}{% else %}#0071ba
    {% endif %}", "accent": "#db8226", "text": "#fff"}'
    data-video-url="{{ video_url }}"
    data-cloud-name="{{ cloud_name }}">
</video>

<!-- i moved this code in js.html file -->
<!-- <script>
    // old way to render videoplayer at admin new way is in js.html page 
    const videoPlayerId = "demo-player" // id of video player so we can use anawhere just using videoPlayerId, so shortcut
    const videoPlayerElement = document.getElementById(videoPlayerId);
    if (videoPlayerElement){
        const cloudName = videoPlayerElement.dataset.cloudName; // using dataset method we can access attribute that start with data
        const videoUrl = videoPlayerElement.dataset.videoUrl;
        const cld = cloudinary.videoPlayer(videoPlayerId, { // This function initializes a new Cloudinary video player with id of html element where video player will be embedded.
            cloudName: cloudName
        });
        cld.source(videoUrl) // This method sets the source of the video player to the URL specified by the videoUrl. 
    }
    
    // removing cloudinary link element in video player. 
    const removeElem = document.querySelector(".vjs-cloudinary-button");
    removeElem.remove()
</script> -->